name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install Briefcase
        run: pip install briefcase
      - name: Build APK
        run: |
          briefcase create android --no-input
          briefcase build android --no-input
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Drift-Commander-APK
          path: build/drifter/android/gradle/app/build/outputs/apk/debug/*.apk
